:root{
    --cl-b01: #000000;
    --cl-b02: #181818;
    --cl-b03: #202020;
    --cl-b04: #404040;
    --cl-b05: #595959;
    --cl-b06: #707070;
    --cl-b07: #9C9C9C;
    --cl-b08: #B3B3B3;
    --cl-b09: #CCCCCC;
    --cl-b10: #DEDEDE;
    --cl-b11: #EDEDED;
    --cl-b12: #F7F7F7;
    --cl-b13: #FFFFFF;

    --cl-p01: #0D2779;
    --cl-p02: #16398F;
    --cl-p03: #0F54B1;
    --cl-p04: #0C69D3;
    --cl-p05: #1B7AE5;
    --cl-p06: #3090FC;
    --cl-p07: #5AA8FF;
}