@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Roboto', sans-serif;

    --font-weight-Regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-Black: 900;
}