.slider{
    width: 28.75rem;
    height: 16.75rem;
    border-radius: 0.625rem;
    overflow: hidden;
}

.carrossel{
    width: 500%;
    height: 16.75rem;
    display: flex;
}

.carrossel input{
    display: none;
}

.slide{
    width: 20%;
    transition: 1s;
}

.nav-manual{
    position: absolute;
    width: 28.75rem;
    margin-top: -5.5rem;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid  #308ffc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(last-child){
    margin-left: 0.4rem;
}

.manual-btn:hover{
    background: var(--cl-p06);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}


.nav-auto{
    position: absolute;
    display: flex;
    width: 28.75rem;
    justify-content: center;
    margin-top: 11.28rem;
    margin-left: 7px;
}

.nav-auto div{
    border: 2px solid #308ffc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(last-child){
    margin-right: 0.4rem;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background: #308ffc;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background: #308ffc;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background: #308ffc;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background: #308ffc;
}

#radio5:checked ~ .nav-auto .auto-btn5{
    background: #308ffc;
}
















































.navegacao-manual{
    position: absolute;
    width: 28.75rem;
    margin-top: -5.5rem;
    display: flex;
    justify-content: center;
}

.botao-manual{
    border: 2px solid  #308ffc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.botao-manual:not(last-child){
    margin-left: 0.4rem;
}

.botao-manual:hover{
    background: var(--cl-p06);
}

#radial1:checked ~ .first{
    margin-left: 0;
}

#radial2:checked ~ .first{
    margin-left: -20%;
}

#radial3:checked ~ .first{
    margin-left: -40%;
}

#radial4:checked ~ .first{
    margin-left: -60%;
}

.navegacao-auto{
    position: absolute;
    display: flex;
    width: 28.75rem;
    justify-content: center;
    margin-top: 11.28rem;
    margin-left: 7px;
}

.navegacao-auto div{
    border: 2px solid #308ffc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navegacao-auto div:not(last-child){
    margin-right: 0.4rem;
}

#radial1:checked ~ .navegacao-auto .botao-auto1{
    background: #308ffc;
}

#radial2:checked ~ .navegacao-auto .botao-auto2{
    background: #308ffc;
}

#radial3:checked ~ .navegacao-auto .botao-auto3{
    background: #308ffc;
}

#radial4:checked ~ .navegacao-auto .botao-auto4{
    background: #308ffc;
}

#radio5:checked ~ .navegacao-auto .botao-auto5{
    background: #308ffc;
}