.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100vw;
    padding-left: 8.75rem;
    padding-right: 8.75rem;
    background-color: var(--cl-b02);
    border-bottom: 2px solid var(--cl-b04);
}

.logo{
    font-family: var(--font-title);
    font-weight: var(--font-weight-bold);
    color: var(--cl-b13);
    font-size: 2rem;
}

.navbar{
    display: flex;
    align-items: center;
    z-index: 3;
}

.navbar a{
    font-family: var(--font-title);
    color: var(--cl-b13);
    font-size: 1.12rem;
}

.nav-list{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}

.btn-cv{
    font-family: var(--font-title); 
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    background-color: var(--cl-p06);
    border-radius: 0.3rem;
    padding: 1rem 2rem;
}

.btn-cv a{
    color: var(--cl-b13);
}

.menu-mobile{
    display: none;
    cursor: pointer;
}

.menu-mobile div{
    width: 32px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    margin: 8px;
    transition: 0.3s;
}

.menu-mobile div:hover{
    background: var(--cl-p06);
}


@media (max-width: 991px){
    .nav-list{
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--cl-b02);
        backdrop-filter: blur(3px);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
    }

    .menu-mobile{
        display: block;
    }
    .nav-list.active{
        transform: translateX(0);
    }
}

.menu-mobile.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-mobile.active .line2{
    opacity: 0;
}

.menu-mobile.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}