.Sobre{
    background: var(--cl-b03);
    padding: 7.5rem 8.75rem 5rem 8.75rem;
    display: flex;
}

.texto-apresentacao{
    color: white;
    width: 30.625rem;
    margin-bottom: 2.3125rem;
}

.texto-apresentacao h3{
    color: var(--cl-b04);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
}

.texto-apresentacao h1{
    color: var(--cl-b13);
    font-size: 3.75rem;
    font-weight: var(--font-weight-bold);
}

.texto-apresentacao p{
    color: var(--cl-b09);
    font-size: 1.25rem;
    font-family: var(--font-text);
    font-weight: var(--font-weight-medium);
    line-height: 1.75rem;
}

.atributo{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.separador{
    width: 31.25rem;
    height: 0.125rem;
    border-radius: 0.3125rem;
    background: var(--cl-b04);
}

.atributo h2{
    color: var(--cl-b13);
    font-family: var(--font-text);
    font-weight: var(--font-weight-bold);
    font-size: 3rem;
}

.atributo h3{
    color: var(--cl-b11);
    font-family: var(--font-text);
    font-weight: var(--font-weight-regular);
    text-transform: uppercase;
    font-size: 1.625rem;
}

.container-qualificacao{
    display: flex;
    flex-direction: column;
    margin-left: 7.5rem;
}

.box{
    width: 28.75rem;
    height: 16.75rem;
    border-radius: 0.625rem;
    margin-bottom: 4rem;

    /* efeito de fundo*/
    position: relative;
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.box:after{
    /* efeito de lux*/
	content:"";
    width: 1px;
    height: 5rem;
    position: absolute;
    left: -1;
    top: 70%;
    transition: top, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, 
					var(--cl-p06), 
					transparent);
    opacity: 0;
}

.box:hover:after{
    top: 10%;
    opacity: 1;
}

.box h3{
    margin-top: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-title);
    font-weight: var(--font-weight-medium);
    color: var(--cl-b13);
    font-size: 0.875rem;
    letter-spacing: 0.28rem;
}

.bloc-box{
    width: 28.75rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.certificado{
    width: 5rem;
    height: 5rem;
}

.tec-descript{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.tec-descript h2{
    font-weight: var(--font-weight-semibold);
    color: var(--cl-b10);
}

.tec-descript p{
    font-weight: var(--font-weight-regular);
    color: var(--cl-b06);
}

@media (max-width: 991px){
   .Sobre{
    flex-direction: column;
   }

   .sobre-mim{
    margin-left: auto;
   }

   .texto-apresentacao{
    width: 40rem;
   }

   .texto-apresentacao p{
    font-size: 1rem;
   }

   .atributo h2{
    font-size: 3.75rem;
   }

   .atributo h3{
    font-size: 2.2rem;
   }

   .box{
    height: 28rem;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
   }

   .box h3{
    font-size: 2rem;
   }

   .tec-descript{
    gap: 1.75rem;
   }

   .tec-descript h2{
    font-size: 1.5rem;
   }

   .tec-descript p{
    font-size: 1.5rem;
   }
}